<form method="post" action="downloadimg.php">Estrazione immagine PHAIDRA da database depositato<br>
  
  <input type="text" name="codice"><br>
  <input type="text" name="immaginecodice"><br>
  <input type="submit" value="send">
</form>
  
</form>


