

<form method="post" action="downloadthmbnail.php">Deposito immagini PHAIDRA nel mediARCHIVE di MOVIO <br>
  
  <input type="text" name="codice"><br>
  <input type="text" name="immagine"><br>
  <input type="submit" value="send">
</form>