<form name="richiamo_funzione" action="letturadirectory.php" method="GET">
<input type="text" name="letturadirectory"/>
<input type="submit" name="richiama" value="Richiama la funzione specificata nel textfield a lato!" />
</form>