
<form method="post" action="inserimento.php">
  inserisci la descrizione del reperto  <br>


  <br></br>
    <input type="text" name="id"><br>
	<input type="text" name="nome"><br>
	<input type="text" name="indirizzo"><br>	
	<input type="text" name="latitudine"><br>
	<input type="text" name="longitudine"><br>
    <input type="text" name="tiporeperto"><br>

	 
  
  <input type="submit" value="Invia Modulo">
</form>


