<link rel="stylesheet" type="text/css" href="https://phaidra-static.cab.unipd.it/stylesheets/css/unipdstyle.css">

<form method="post" action="estrazioneimmagine.php">Estrazione immagine PHAIDRA da database depositato<br>
  
  <input type="text" name="dc"><br>
  
</form>